/* My02 클래스 스타일 */
.My02 {
  background: url('Searchs_006.png') center/cover no-repeat fixed;
  width: 100%;
  min-height: 160vh;
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
}

/* 내용 컨테이너 스타일 */
.content {
  margin-top: 20vh;
  width:70vw;
  text-align: center; /* 원하는 만큼 조정 가능 */
}

/* 제목 스타일 */
.title {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  font-weight: 800;
  margin-bottom: 20px;
}

/* 검색창 스타일 */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  height: 3vw;
  padding-right: 30vw;
  font-size: 15px;
  width: 20vw;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px 0 0 10px;
  align-items: center;
}

/* 검색창 버튼 스타일 */
.search-button {
  background-color: #000;
  height: 3vw; /* 검색창과 같은 배경색 */
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-button svg {
  fill: #fff; /* 아이콘 색상을 흰색으로 설정 */
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}

/* 검색 버튼에 호버 효과 */
.search-button:hover {
  background-color: #222; /* 버튼 배경색을 어둡게 변경 */
}

/* 검색 아이콘에 호버 효과 */
.search-button:hover svg {
  fill: #000; /* 아이콘 색상을 검은색으로 변경 */
}


/* 메뉴 스타일 */
.menu-container {
  display: flex;
  justify-content: center;  
}

.menu1,
.menu2,
.menu3,
.menu4 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px;
  border: 1px solid white;
  margin-right: 30px;
  margin-bottom: 10px;
}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover {
  background: rgba(255,255,255,1);
  color: #000;
  font-weight: bold;
}

.menu1:active,
.menu2:active,
.menu3:active,
.menu4:active {
  background: rgba(0,0,0,1);
  color: #fff;
  font-weight: bold;
}

.foot-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  background-color: rgba(0,0,0,0.9);
  padding: 0px;
  border-radius: 0px;
  position: absolute;
  top:140vh;
  left: 0;
  right: 0;
  bottom: 0;
}

.foot-logo {
  width: 300px; /* 원하는 너비로 설정 */
  height: 100px; /* 원하는 높이로 설정 */
  object-fit: contain; /* 이미지의 원본 비율을 유지하며 적절한 크기로 조절 */
  position: relative;
  top: 15px;
  left: 15px;
}

.foot-content {
  display: flex; /* 내부 컨텐츠를 세로로 배치 */
  width:50%;
  align-items: left;
  flex-direction: column;
  font-size: 13px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fff;
}

.slogun {
  text-align: right;
  width: 270px; /* 원하는 너비로 설정 */
  position:relative;
  left: 15px;
  height: 30px;
}

.creator-list {
  text-align: center;
  list-style: none;
  display: flex;
  margin-top: 40px;
  padding: 0;
}

.creator-list li {
  margin: 0 10px;
  font-size: 13px;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden-summary {
  position: relative;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
}

.hidden-summary-content {
  background-color: rgba(255,255,255,1);
  width: 100%;
  height: 35vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close-summary-button,
.close-recent-button,
.close-QnA-button {
  position: relative;
  width: 15vw;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.close-summary-button:hover,
.close-QnA-button:hover,
.close-recent-button:hover {
  background-color: #222;
  color: #fff;
}

.hidden-recent {
  position: relative;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.hidden-recent-content {
  width: 100%;
  height: 35vh;
  background-color: rgba(255,255,255,1);
  padding-top: 3px;
  padding-left: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden-QnA {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  top: 90vh;
}

.hidden-QnA-content {
  position: relative;
  width: 70vw;
  background-color: rgba(255,255,255,0.95);
  min-height: 25vw;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  align-content: center;
  text-align: left;
}

.answer-QnA {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 3px solid rgba(0,0,0,0.6);
  font-size: 20px;
  overflow: auto;
}


.top-bar {
  display: flex;
  width: 100vw;
  height: 5vh;
  background-color: rgba(0,0,0,0.9);
  padding: 0px;
  border-radius: 0px;
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.login-btn, .signup-btn {
  margin: 0px 10px;
  padding: 5px 10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0); 
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  min-width:70%;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
}

.login-btn:hover, .signup-btn:hover {
  color: rgba(200,200,200,0.8); /* 버튼 hover 시 색 */
}

.login-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
  z-index:2000;
}

.login-modal {
  display: flex;
  align-items: center; 
  justify-content: center; 
  z-index: 2200;
}

.login-box {
  position: relative;
  background-color: rgba(255,255,255,0.8);
  width: 30vw;
  height: 30vh;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
}


.login-header {
  position: relative;
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.login-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-input {
  display: block; /* 입력 필드를 각각 다른 줄에 표시 */
  width: 50%;
  padding: 15px;
  margin-top: 5%;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
  outline: none;
}

.recent-list {
  margin-top: 5px;
  height: 10%;
  width: 95%;
  font-weight: normal;
}

.recent-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  font-size: 16px;
}

.recent-item a {
  text-decoration: none;
  color:black;
  height: 5%;
}

.recent-item a:hover {
  text-decoration: underline;
}

.recent-item a:active {
  color: blue;
}

.submit-login {
  position: relative;
  top: 15%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
}

.submit-login:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.9);
}